<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar color="secondary">
      <ion-title size="large">
        TaskMaster Lite
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">
      Nueva Tarea
    </ion-label>

    <ion-input 
    placeholder="Estudiar TypeScript" 
    [(ngModel)] = "newTaskStr">
    </ion-input>
  </ion-item>

  <ion-button expand="block" color="secondary" (click)="addTask()">

    Agregar Tarea

  </ion-button>

  <ion-list>

    @for (tarea of tasks; track tarea.id) {

    <ion-item>
      <ion-label>
        {{ tarea.titulo }}
      </ion-label>
    </ion-item>

    }

  </ion-list>

</ion-content>